.Rproj.user
.Rhistory
.RData
*.aux
*.log
*.out
001-motivating-example/figure/*
006-sensitivity-analysis-one-parameter/figure/*
007-sensitivity-analysis-many-parameters/figure/*
011-simulation-report/figure/*
*.bbl
*.brf
*.toc
*.synctex.gz
*.tex
*figure
*.snm
*_cache
*_files
*.vrb
*.nav
*.blg